/* Ensure the HTML, body, and root container take up full height */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ensure it covers the full height */
  width: 100vw; /* Ensure it covers the full width */
  background-color: #313030;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px; /* Adjust the gap between elements */
}

.header h1 {
  margin: 0;
}

.header .btn {
  background-color: #afd9ed;
  color: #060404;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  height: 50px;
  width: 160px; /* Set a fixed width for the buttons */
  text-align: center; /* Center the text inside the buttons */
}

.content {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.chat-history {
  width: 25%;
  background-color: #211d1d;
  padding: 20px;
  overflow-y: auto;
}

.generation-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow: hidden;
}

.model-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.model-select {
  width: 200px; /* Set a fixed width for the dropdown to match the buttons */
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #00aaff;
  background-color: #282828;
  color: #fff;
  outline: none;
  text-align: left; /* Left align the text inside the dropdown */
  margin-right: 20px;
}

select, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ffffff;
  background-color: #000000;
  color: #fff;
  outline: none;
}

.input-container {
  position: relative;
}

.input-container textarea {
  width: calc(100% - 60px); /* Adjust the width to account for the buttons */
  padding-right: 60px; /* Ensure there is space for the buttons inside the textarea */
  margin: 0;
  height: 20px;
  border-radius: 40px;
}

.buttons {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  gap: 10px;
}

.buttons .icon-btn {
  background-color: #aad8ef;
  color: #000;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.output-text {
  flex-grow: 1;
  resize: none;
  width: 1150px;
  border-radius: 50px;
  padding: 20px;
  border: 1px solid #ffffff;
  background-color: #1a1818;
  color: #fff;
  outline: none;
}
